# Python bytecode and cache
__pycache__/
**/__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environments
.venv/
env/
venv/

# Editor & IDE configs
.idea/
.vscode/
*.swp

# Environment & secrets
.env
*.env

charts/